* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.btnLg {
  width: 284px;
  height: 64px;
  background:var(--second-color);
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
  cursor: pointer;
}
.btnLg:hover{
 background: transparent;
  border: 1px solid var(--main-color);
}
:root {
  --main-color: #002A4C;
  --second-color: #ffa83a;
}
ul {
  list-style: none;
}
